
mixin range-slider({min = 0, max = 100, step = 1, values = [0], range = false, tooltip = false, position = 'horizontal'} = {})
  - 
    obj = {
      min,
      max,
      values,
      step,
      range,
      tooltip,
      position,
    }
  .range-slider.js-range-slider(data-options=obj)
    .range-slider__slider.js-range-slider__slider
    .range-slider__configure-panel.js-range-slider__configure-panel
      - 
        const typeText = [
          {
            name: "value1",
            class: "range-slider__start-value js-range-slider__start-value",
          },
          {
            name: "value2",
            class: "range-slider__end-value js-range-slider__end-value",
          },
          {
            name: "min",
            class: "range-slider__min js-range-slider__min",
          },
          {
            name: "max",
            class: "range-slider__max js-range-slider__max",
          },
          {
            name: "step",
            class: "range-slider__step js-range-slider__step",
          },
        ]

      each obj in typeText
        label.range-slider__label= obj.name
          input(class=obj.class)
      
      - 
        const typeCheckbox = [
          {
            name: "range",
            class: "range-slider__range js-range-slider__range",
          },
          {
            name: "tooltip",
            class: "range-slider__tooltip js-range-slider__tooltip",
          },
          {
            name: "position",
            class: "range-slider__position js-range-slider__position",
          },
        ]

      each obj in typeCheckbox
        label.range-slider__label 
          input(type="checkbox" class=obj.class)
          |
          =obj.name