doctype html
html
  head
    meta(charset="utf-8")
    title Sliders
    meta(name="keywords" content="")
    meta(name="discription" content="")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    - 
      let classList = [' root-slider', ' root-slider1', ' root-slider2', ' root-slider3'];
      let value = [' root-input', ' root-input1', ' root-input2', ' root-input3']
    each val, i in classList
      div(class='slider-configure')
        div(class='root' + classList[i])
        div(class='configure')
          label value: 
            input(type="text" class='configure__input' + value[i])
          label min: 
            input(type="text" class='configure__min')
          label max: 
            input(type="text" class='configure__max')
          label step: 
            input(type="text" class='configure__step')
          label
            input(type='checkbox' class='configure__tooltip')
            |
            | show tooltip
          label
            input(type='checkbox' class='configure__interval')
            |
            | show interval
          label
            input(type='checkbox' class='configure__position')
            |
            | position
          button(type='button' class='configure__button') click