doctype html
html
  head
    meta(charset="utf-8")
    title Sliders
    meta(name="keywords" content="")
    meta(name="discription" content="")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    .rooot
    .rooot1
    .rooot2