doctype html
html
  head
    meta(charset="utf-8")
    title Sliders
    meta(name="keywords" content="")
    meta(name="discription" content="")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
      div(class='slider-configure')
        div(class=`root root-slider`)
        div(class='configure')
          label value: 
            input(type="text" class=`configure__input root-input1`)
          label value: 
            input(type="text" class=`configure__input root-input2`)
          label min: 
            input(type="text" class='configure__min')
          label max: 
            input(type="text" class='configure__max')
          label step: 
            input(type="text" class='configure__step')
          label range: 
            input(type='checkbox' class='configure__range')
          label
            input(type='checkbox' class='configure__tooltip')
            |
            | show tooltip
          label
            input(type='checkbox' class='configure__position')
            |
            | position
          button(type='button' class='configure__button') click