doctype html
html
  head
    meta(charset="utf-8")
    title Sliders
    meta(name="keywords" content="")
    meta(name="discription" content="")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    div(class='slider')
      .slider__button 50
      .slider__field
        .slider__line
        .slider__thumb
      .slider__numbers
        span 0
        span 25
        span 50
        span 75
        span 100
    div(class='slider slider_vertical')
      .slider__button.slider__button_vertical 50
      .slider__field.slider__field_vertical
        .slider__line.slider__line_vertical
        .slider__thumb.slider__thumb_vertical
      .slider__numbers.slider__numbers_vertical
        span 0
        span 25
        span 50
        span 75
        span 100