include ./range-slider/range-slider.pug

doctype html
html
  head
    meta(charset="utf-8")
    title Sliders
    meta(name="keywords" content="")
    meta(name="discription" content="")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
  body
    +range-slider
    +range-slider({
      min: 10,
      max: 200,
      step: 10,
      tooltip: true,
      value: [20, 50],
      range: true,
    })
    +range-slider({
      min: -20,
      max: 50,
      step: 5,
      tooltip: true,
      position: 'vertical',
      value: [-10],
    })